.main-form{
  &__inner{
    border-bottom: 1px solid var(--color-gray-2);
  }

  &__title{
    padding-bottom: 15px;
    margin-bottom: 32px;
    border-bottom: 1px solid var(--color-gray-2);
  }

  &__list{
    max-width: calc(50% - 8px);
    margin-bottom: 96px;

    li{
      &:not(:last-child){
        margin-bottom: 32px;
      }
    }

    &--last{
      margin-bottom:  128px;
    }
  }

  &__list-item{
    &--double{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 16px;
    }
  }

  &__actions{
    max-width: calc(50% - 8px);
    margin:0 0 128px auto;
    padding-top: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
  }
}
