.ui-button {
  padding: 20px 87px;
  background-color: var(--color-blue);
  border-radius: 8px;
  color: var(--color-white);
  transition: background-color .2s ease-in-out;

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-blue-hover);
    }
  }

  @media (hover: none) {
    &:active {
      background-color: var(--color-blue-hover);
    }
  }

  &:focus-visible{
    outline: 4px solid var(--color-black);
  }

  &[disabled]{
    background-color: var(--color-gray-2);
    color: var(--color-gray);
    cursor: not-allowed;
  }

  &--secondary{
    background-color: var(--color-white);
    color: var(--color-black);
    border: 1px solid var(--color-gray-2);
    transition: border-color .2s ease-in-out;

    @media (hover: hover) {
      &:hover {
        border-color: var(--color-black);
        background-color: var(--color-white);
      }
    }

    @media (hover: none) {
      &:active {
        border-color: var(--color-black);
        background-color: var(--color-white);
      }
    }

    &[disabled]{
      opacity: .5;
      border-color: var(--color-gray-2);
    }
  }
}
