.text-input {
  position: relative;

  &--is-error {
    .text-input {
      &__input {
        border-color: var(--color-red) !important;
      }
    }
  }

  &--read-only {
    .text-input {
      &__input {
        border-bottom: none;
        cursor: text;
      }
    }
  }

  &--disabled {
    opacity: .5;

    .text-input {
      &__input {
        color: var(--color-gray);
        user-select: none;
        cursor: not-allowed;
      }
    }
  }

  &__placeholder {
    font-size: 14px;
    line-height: 16px;
    color: var(--color-gray);
    margin-bottom: 8px;
  }

  &__input {
    width: 100%;
    padding: 0 0 16px;
    border: none;
    border-bottom: 1px solid var(--color-gray-2);
    transition: border-color .2s ease-in-out;

    &:not(:disabled){
      &:hover, &:focus-visible {
        border-color: var(--color-black);
      }
    }

    &:disabled {
      background-color: unset;
    }
  }

  &__hint {
    font-size: 12px;
    line-height: 16px;
    color: var(--color-gray);
    margin-top: 8px;
  }

  &__error {
    font-size: 12px;
    line-height: 16px;
    color: var(--color-red);
    margin-top: 8px;
  }

  &__select{
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    z-index: var(--z-up);
    width: 100%;
  }
}
