.tabs-list {
  &__header {
    display: flex;
    margin-bottom: 96px;

    li {
      padding-right: 8px;
    }
  }
}

@include phone{
  .tabs-list {
    &__header {
      margin: 0 -4px 48px;
    }
  }
}
