.tabs-list {
  &__header {
    display: flex;
    margin: 0 -4px 96px;

    li {
      margin: 0 4px;
    }
  }
}

@include phone{
  .tabs-list {
    &__header {
      margin: 0 -4px 48px;
    }
  }
}
