:root {
  // =============================================================================
  // Colors
  // =============================================================================

  --color-black: #161619;
  --color-white: rgba(255, 255, 255, 1);

  --color-light: #F9F9FD;
  --color-gray: #8D919D;
  --color-gray-2: #D0D4E3;

  --color-red: #F72942;
  --color-blue: #0864FA;

  // =============================================================================
  // Z-index
  // =============================================================================

  --z-hidden: -100;
  --z-background: -1;
  --z-bottom: 1;
  --z-middle: 30;
  --z-default: 50;
  --z-up: 60;
  --z-pre-top: 90;
  --z-top: 100;

  // =============================================================================
  // Fonts
  // =============================================================================

  --font-inter: Inter, sans-serif;
}
